* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  font-family: 'Titillium Web', sans-serif;
}

h1 {
  text-align: center;
  background: linear-gradient(45deg, rgba(0, 0, 255, 0.6), rgba(255, 255, 0, 0.3));
  font-size: 10px;
  letter-spacing: 3px;
  word-spacing: 10px;
}

.wrapper {
  display: flex;
  height: calc(100vh - 15.33px);
}

.col {
  flex: 1;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.col h2 {
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.col h2:hover {
  background-color: RGBA(0, 0, 0, 0.1);
}

.col button {
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background: transparent;
}

.col button:hover {
  background-color: RGBA(0, 0, 0, 0.1);
}

.clipboard-notification {
  /* display: none; */
  background-color: aqua;
  position: absolute;
  left: 43.5vw;
  bottom: 50px;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}